body{
    background-color: black;
    color:green;
}
p{
    color:greenyellow
}
iframe{
    width:600px;
    height:600px;
}
.footer{
    background-color: green;
    color:white;
}
nav{
    background-color:white;
    color:lightgreen;
}